/* ****************************************Dark mode**************************************** */

a {
    text-decoration: none;
}

body {
    background: #0e0e0e;
    color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
    transform: skew(-20deg);
    transition: 0.5s;
}

.spinner {
    width: 100px;
}

.news-container {
    margin-top:80px;
    /* height: min-content; */
    min-width: 96vw;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-end; */
}

.newsbox {
    min-width: 30vw;
    max-height: 600px;
    height: 600px;
    max-height: fit-content;
    background: #2d545e;
    background: #212529;
    color: white;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.newsbox:hover {
    /* transform: translateX(-2px); */
    transform: translateY(-5px);
    transition: 0.7s;
    /* color: white; */
    /* background-color: black; */
    box-shadow:  5px 7px 7px 0px #ffffff3f;
    /* border: 3px solid #ffffff; */
    /* transform: scale(1.03); */
    /* transition: 0.3s; */
    /* background-position: 100%; */
    /* z-index: 2; */
}


.newsImg {
    object-fit: cover;
    /* min-height: 200px; */
    /* max-height: 200px; */
    overflow: hidden;
}


.newsTitle {
    /* max-height: 100px; */
    /* min-height: 100px; */
    overflow: clip;
    text-overflow: ellipsis;
}

.newsDescription {
    /* max-height: 100px; */
    /* min-height: 100px; */
    overflow: clip;
    text-overflow: ellipsis;
}

.newsDescription::-webkit-scrollbar {
    display: none;
}

.newsDescription {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* .newsAuthor {
    max-height: 20px;
    min-height: 40px;
} */
.row-container{
    row-gap: 3px;
}

.btn {
    background-color: #0e292f;
    background-color: red;
    color: white;
    /* border-radius: 5px; */
}

.btn:hover {
    background-color: #00d7c3;
    background-color: #bfd0ff;
    color: black;

}



/* TOGGLE MODE BTN */
.toggle-mode {

    cursor: pointer;
}

.switchWrap {
    width: 60px;
    /* width: 30px; */
    display: flex;
    align-items: center;
    height: 34px;
    background-color: #262626;
    border: 2px solid #494949;
    border-radius: 30px;
    transition: all 0.5s;
}

.switchWrap.lightMode {
    background-color: #E9E9E9;
    border-color: #C9C9C9;
}

.switchBtn {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.switchBtn:focus {
    outline: none;
}

.switchBtn.lightMode {
    transform: translateX(30px) rotate(180deg);
    /* transform: rotate(180deg); */
}

.switchBtn svg {
    width: 30px;
    height: 30px;
}

.credit {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 5px;
}
/* .container-fluid{
    align-items: flex-end;
}*/
.container-fluid img{
    height:55px
}

/* ****************************************Light mode**************************************** */
.lightMode .news-body {
    background: #9ac5cc;
    background: #ffffffe4;
    /* background: rgb(239, 230, 223); */
    color: black;
}

.lightMode .bg-dark {
    /* background: #d8d8da; */
    color: black;
}

.lightMode .newsbox {
    background: #b0e0e6;
    background: #f8f9fa;
    /* background: #d8d8da; */

    color: black;
}

.lightMode .newsbox:hover {
    color: black;
    transform: translateY(-5px);
    transition: 0.7s;
    /* color: white; */
    /* background-color: black; */
    box-shadow:  5px 7px 7px 0px #0000003f;
    /* background-color: #90ced7; */
    /* box-shadow: 0 0 10px 0 #000000 inset, 0 0 10px 2px #000000; */
    /* border: 3px solid #95e4dc; */
}

.lightMode .btn {
    background-color: lightcoral;
    color: black;
}

.lightMode .btn:hover {
    background-color: #0a6157;
    background-color: #5e6a75;
    color: white;
}

@media screen and (min-width:2560px) {

    /* .container-fluid {
        flex-direction: row-reverse;
    } */
    .news-container {
        margin-top:190px;
    }
    
.toggleMode{
    transform: scale(2);
    margin:0px 50px;
}

    /* .newsbox {
        overflow: auto;
        min-height: fit-content;
        max-height: fit-content;
    } */

    .newsImg {
        min-height: 500px;
        max-height: 500px;
    }


    .newsTitle {
        /* min-height: fit-content;
        max-height: fit-content; */
        /* overflow: clip;
        text-overflow: ellipsis; */
        font-size: 40px;
    }

    .newsDescription {
        /* min-height: min-content;
        max-height: max-content; */
        /* overflow: clip;
        text-overflow: ellipsis; */
        font-size: 30px;
    }


    .newsAuthor {
        font-size: 35px;
        /* min-height: fit-content;
        max-height: fit-content; */
    }
    .source, .readMore{
        font-size:30px
    }
    .newsbox {
        overflow: auto;
        height: 1150px;
        margin-bottom: 60px;
    }
    .nav-item{
        font-size:50px;
        margin:10px 30px;
    }
    .container-fluid h2 {
        font-size:60px;
    }
    .news-container h2 strong{
        font-size:50px;
    }
    .container-fluid img{
        transform: scale(2);
        margin:50px;
        /* height:70px */
    }
}

@media screen and (max-width:991.5px) {
    .newsbox {
        min-width: 90vw;
        /* margin-right:4vw;
        margin-left:calc(4vw - 12px); */
    }

    .container-fluid {
        flex-direction: row-reverse;
    }


    .newsbox {
        overflow: auto;
        height: fit-content;
        min-height: fit-content;
        max-height: fit-content;
    }

    .newsImg {
        object-fit: cover;
        min-height: fit-content;
        max-height: fit-content;
        overflow: hidden;
    }


    .newsTitle {
        min-height: fit-content;
        max-height: fit-content;
        overflow: clip;
        text-overflow: ellipsis;
    }

    .newsDescription {
        min-height: fit-content;
        max-height: fit-content;
        overflow: clip;
        text-overflow: ellipsis;
    }


    .newsAuthor {
        min-height: fit-content;
        max-height: fit-content;
    }
    .container-fluid img{
        height:52px
    }
    /* .container-fluid{ */
        /* align-items: flex-start; */
    /* } */
}

@media screen and (max-width:420px) {
    .newsbox {
        min-width: 88vw;
        /* margin-right:4vw;
            margin-left:calc(4vw - 12px); */
    }

}

@media screen and (max-width:281px) {
    .container-fluid h2 {
        display: none;
    }
}