/* ****************************************Dark mode**************************************** */
a {
    text-decoration: none;
}
body {
    background: #12343b;
    color: white;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.spinner {
    width: 100px;
}


.newsbox {
    min-height: 600px;
    max-height: 600px;
    background: #2d545e;
    color: white;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.newsbox:hover {
    transform: translateY(-5px);
    transition: 0.4s;
    /* color: white; */
    /* background-color: black; */
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 10px 2px #00d7c3;
    border: 3px solid #00d7c3;
    /* transform: scale(1.03); */
    /* transition: 1s; */
    /* background-position: 100%; */
    /* z-index: 2; */
}


.newsImg {
    object-fit: cover;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}


.newsTitle {
    max-height: 100px;
    min-height: 100px;
    overflow: clip;
    text-overflow: ellipsis;
}

.newsDescription {
    max-height: 100px;
    min-height: 100px;
    overflow: clip;
    text-overflow: ellipsis;
}
.newsDescription::-webkit-scrollbar {
    display: none;
}
.newsDescription {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.newsAuthor{
    max-height: 20px;
    min-height: 40px;
}

.btn {
    background-color: #0e292f;
    color: white;
}

.btn:hover {
    background-color: #00d7c3;
    color: black;

}



/* ****************************************Light mode**************************************** */
/* body {
    background: #61bece;
    color: #002b33;
}

.bg-dark{
    background-color: #2f9bae;
    color:black;
}

.newsbox {
    background: #b0e0e6;
    color: black;
}
.newsbox:hover{
    color: black;
    background-color:white ;
}

.btn{
    background-color:#00d7c3;
    color:black;
}
.btn:hover{
    background-color:#0a6157;
    color:white;
} */